@font-face {
    font-family: 'Inconsolata', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Oswald:wght@300&display=swap');
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Oswald:wght@300&display=swap');
}