.result {
    @include min-query($min-width-query) {
        min-width: 100%;
        min-height: 100%;
        overflow-y: scroll;
        
        &__text {
            padding: 0.3rem;
            border: 0.1rem solid $white-color;
            font-family: $main-font;
            font-size: 1.2rem;
            color: $white-color;
        }
    }
}