$min-width-query: 320px;
$max-width-mobile: 1023px;
$min-width-pc: 1024px;

$header-height: 5rem;

$main-bcg-color: #1d1d2d;
$second-bcg-color: #2a2a41;
$dark-color: #151515;
$white-color: #e1dfe1;

$main-font: 'Inconsolata', monospace;
$second-font: 'Oswald', sans-serif;
$logo-font: 'Courier New', Courier, monospace;